<%- include ('../../partials/header.ejs'); %>
<body>
    <%- include ('../../partials/navbar.ejs'); %>
    <div class="container">
        <hr>
        <h2>Usuarios</h2>
        <a class="btn btn-success" href="/admin/users/create">Criar novo Usuario</a>
        <hr>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Email</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <% users.forEach(user => { %>

                    <tr>
                        <td><%=user.id%></td>
                        <td><%=user.email%></td>
                        <td>
                            <a class="btn btn-warning" href="/user/edit/<%=user.id%>">Editar</a>
                            <form onsubmit="confirm_delete(event,this)" style="display: inline;" method="post" action="/user/delete">
                                <input  type="hidden" name="id" value="<%= user.id %>">
                                <button class="btn btn-danger">Deletar</button>
                            </form>
                        </td>
                    </tr>
                <%}) %>
            </tbody>
        </table>
    </div>
</body>
<%- include ('../../partials/footer.ejs'); %>

<script>
    function confirm_delete(event,form) {
        event.preventDefault()
        // console.log("formulario impedido!")
        var descision = confirm("Voce quer deletar?")
        if (descision) {
           form.submit()
        }
    }
</script>